body {
    background-color: #D3D3D3;
}
#wrapHeader {
    text-align: center;
    background: url("https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?ixlib=rb-1.2.1&w=1000&q=80") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 1vw;
    border: grey 0.5vw solid;
}
#date {
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 3vw;
    text-shadow: -0.25vw -0.25vw 0 #000, 0.25vw -0.25vw 0 #000, -0.25vw 0.25vw 0 #000, 0.25vw 0.25vw 0 #000;
}
h1 {
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 6vw;
    margin-bottom: 0vw;
    text-shadow: -0.25vw -0.25vw 0 #000, 0.25vw -0.25vw 0 #000, -0.25vw 0.25vw 0 #000, 0.25vw 0.25vw 0 #000;
}
h2 {
    font-size: 3vw;
}
#wrapLeftSide {
    padding: 2vw;
}
.cities {
    border: #00bfff 0.25vw solid;
    border-radius: 0.75vw;
    background-color: ghostwhite;
}
#wrapDash {
    border: grey 0.5vw solid;
    border-radius: 0.5vw;
    padding: 0.5vw;
    margin: 0.5vw;
    background-color: white;
    width: 100%;
}
.city {
    font-size: 3.5vw;
    border-bottom: solid black 0.25vw;
}
.cityInfo {
    font-size: 2vw;
}
.uvInfo {
    font-size: 2vw;
}
.uvSpan {
    background-color: white;
    border-radius: 0.75vw;
    padding: 0.25vw;
}
.card {
    border: solid grey 0.3vw;
    border-radius: 0.5vw;
    margin: 0.05vw;
    width: 19.70%;
    display:inline-block;
}
.card-text {
    margin-bottom: 0vw;
    font-size: 0.75vw;
}
.card-title {
    margin: 0vw;
    font-size: 1vw;
}
.card-body {
    padding: 0.15vw;
}
.image {
    width: 35%;
}
.cities {
    width: 50%;
    margin: 0.1vw;
}